<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
</head>
<body>
    <h1>Hello ${adminName}</h1>
    <div id="seeAllLinks">
        <a href='/employees'>See All Employees/Ver Empleados</a>|
        <a href='/clients'>See All Clients/VerClientes</a>|
        <a href=''>See All Admins/Ver Administradores</a>
    </div>
    <div id="registrationForms">
        <div id="adminRegistrationForm">
            <h1>Admin Registration</h1>
            <form>
                <label for="admin_r_username">Username:</label>
                <input type="text" name="admin_username" id="admin_r_username">
                <label for="admin_password">Password:</label>
                <input type="password" name="admin_password" id="admin_r_password">
                <input type="button" name="submit" id="admin_register" value="Register">
            </form>
        </div>
        <div id="clientRegistrationForm">
            <h1>Client Registration</h1>
            <form id="clientRegister">
                <label for="client_f_name">First Name:</label>
                <input type="text" name="client_f_name" id="client_f_name">
                <label for="client_l_name">Last Name:</label>
                <input type="text" name="client_l_name" id="client_l_name">
                <label for="client_phone">Phone:</label>
                <input type="tel" name="client_phone" id="client_phone">
                <br>
                <label for="client_address">Address:</label>
                <input type="text" name="client_address" id="client_address">
                <label for="client_email">Email:</label>
                <input type="email" name="client_email" id="client_email">
                <br>
                <label for="client_password">Password</label>
                <input type="password" name="client_password" id="client_password">
                <input type="submit" id="cr_submit" name="cr_submit" value="Register">
            </form>
        </div>
        <div id="employeeRegistrationForm">  
            <h1>Employee Registration</h1>
            <form>
                <label for="e_r_username">Name:</label>
                <input type="text" name="employee_name" id="e_r_name">
                <label for="employee_password">Password:</label>
                <input type="password" name="employee_password" id="e_r_password">
                <label for="e_email">Email:</label>
                <input type="email" name="e_email" id="e_email">
                <label for="e_address">Address:</label>
                <input type="text" name="e_address" id="e_address">
                <label for="e_phone">Phone:</label>
                <input type="tel" name="e_phone" id="e_phone">
                <label for="employee_id">Employee Id:</label>
                <input type="text" id="employee_id" name="employee_id">
                <label for="employee_salary">Salary:</label>
                <input type="text" id="employee_salary" name="employee_salary">
                <input type="button" name="submit" id="e_register" value="Register">
            </form>
        </div>
    </div>
    <script >
        //Registers new admin and adds to the database
        document.getElementById('admin_register').addEventListener('click', (e)=>{
        e.preventDefault();
        console.log('clicked')
        let admin_username = e.target.previousElementSibling.previousElementSibling.previousElementSibling.value; 
            let admin_pw = e.target.previousElementSibling.value;

            const data = { username: admin_username,pw:admin_pw };

            fetch('/api/admin/register', {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
        console.log('Success:', data);
        location.reload();
        

        })
        .catch((error) => {
        console.error('Error:', error);
        });
        
        })

        //Registers new employee and adds to database
        document.getElementById('e_register').addEventListener('click', (e)=>{
        e.preventDefault();
        let e_salary = e.target.previousElementSibling.value;
        let e_id = e.target.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let e_phone = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let e_address = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let e_email = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let e_password = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let e_name = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        const data = { name:e_name,pw:e_password,salary:e_salary,employee_id:e_id,phone:e_phone,email:e_email,address:e_address };
        

            fetch('/api/employee/register', {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
        console.log('Success:', data);
        location.reload();
        
        })
        .catch((error) => {
        console.error('Error:', error);
        });
        
        })

        //Registers new clients and adds them to the database
        document.getElementById('cr_submit').addEventListener('click', (e)=>{
        e.preventDefault();
        console.log('clicked')
        console.log(e.target.previousElementSibling.value)

        let c_password = e.target.previousElementSibling.value
        let c_email = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let c_address = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let c_phone = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let c_lastname = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;
        let c_firstname = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value;

   
      
      
        
        const data = { first_name:c_firstname,last_name:c_lastname,pw:c_password,phone:c_phone,email:c_email,address:c_address };
        console.log(data)

            fetch('/api/client/register', {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
        console.log('Success:', data);
        location.reload();
        
        })
        .catch((error) => {
        console.error('Error:', error);
        });
        
        })


    </script>
</body>
</html>