<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin List/ Lista de Administradores</title>
</head>
<body>
    <h1>Admin List/ Lista de Administradores</h1>
    

    <ul>
        ${admins.map(admin => `
            <li>${admin.username}</li>
        `).join('')}
    </ul>
    
    <a href=''>Return to Admin profile</a>
</body>
</html>