<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees List/ Lista de Empleados</title>
</head>
<body>
    <h1>Employees List/ Lista de Empleados</h1>
    

    <ul>
        ${employees.map(employee => `
            <li>${employee.name}</li>
            <li>${employee.employee_id}</li>
            <li>${employee.salary}</li>
            <li>${employee.email}</li>
            <li>${employee.phone}</li>
            <li>${employee.address}</li>
            <button class="deleteEmployee">Delete</button>
        `).join('')}
    </ul>
    
    <a href=''>Return to Admin profile</a>
    <script>
      let eDeleteButtons = document.getElementsByClassName('deleteEmployee');

      for(let i=0;i < eDeleteButtons.length;i++){
          eDeleteButtons[i].addEventListener('click', (e) =>{
              let employeeId = e.target.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.innerHTML;
              console.log('Employee Deleted', employeeId)

          })
      }
    </script>
</body>
</html>